main {

    background-image: url(../imiges/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

nav {
    height: 730px;
    height: 100vh;
    width: 100vw;
    background-image: url(../imiges/background.jpg);
    background-position: bottom;
    overflow: hidden;

    
}



@keyframes fly {

    0%,
    100% {
        left: -300px;

        bot: 50%;

    }

    25% {
        left: calc(1600px / 4);

        top: 20%;

    }

    50% {
        left: calc(1600px / 2);

        top: 50%;

    }

}

.superman {
    position: relative;
    left: -300px;

    top:0%;

    animation: fly 2s linear infinite;
    height: 200px;
    width: 260px
}

@keyframes fly {
    0% {
        left: -300px;
    }


    100% {
        left: calc(800px);
    }


    100% {
        left: calc(1270px);
    }


}

.wonder {
    position: relative;
    left: -300px;
    top:10%;
    animation: fly 7s linear infinite;
    height: 170px;
    width: 210px
}

@keyframes fly {
    0% {
        left: -300px;
    }


    100% {
        left: calc(800px);
    }


    100% {
        left: calc(1270px);
    }


}

.flash {
    position: relative;
    left: -300px;
    top: 50%;
    animation: fly 0.5s linear infinite;
    
    height: -200px;
   


}